body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  color: #40514E;
}

.top-container {
  background-color: #EAF6F6;
  padding: 30px;
}

h1 {
  /* width: 20%;
  margin: 0 auto; */
  /* without using this margin center alignment willnot work on h1 tage since its width is not full screen (100%) */
  /* so it need to be centered using margin:auto */
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  color: #66BFBF;
  /* line-height: 2; */
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
}

hr {
  color: #EAF6F6;
  width: 10%;
  border-bottom: none;
  border-top: 10px dotted #EAF6F6;
  margin: 100px auto;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

a {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  color: #EAF6F6;
}

.top-cloud {
  position: relative;
  left: 30%;
}

.bottom-cloud {
  position: absolute;
  left: 200px;
}

.btn {
  color: white;
  background-color: #11999E;
  text-decoration: none;
  font-weight: normal;
  display: inline-block;
  margin: 50px;
  padding: 20px 50px;
  border-radius: 10px;
  font-size: 150%;
  border: solid #11999E;
}

.btn:hover {
  color: #11999E;
  background-color: white;
  border: solid #11999E;
}

.profile img {
  width: 200px;
}

.Engineering-image {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.runner-image {
  width: 25%;
  float: right;
  margin-left: 30px;
}

#job {
  font-weight: normal;
}

.skill-row {
  width: 50%;
  margin: 100px auto;
  text-align: left;
  line-height: 2;
}

p {
  line-height: 2;
}

.middle-container {
  margin-top: 50px;
}

.bottom-container {
  background-color: #66BFBF;
  padding: 30px;
}

.contact-p {
  width: 40%;
  margin: auto;
}

.footer-link {
  color: #11999E;
  margin: 30px;
}

.intro {
  width: 30%;
  margin: auto;
}

.copy-right {
  margin-top: 50;
  color: #EAF6F6;
  font-size: 0.75rem;
}